<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>network_settings</key>
	<dict>
		<key>api_url</key>
		<string>https://moezdorovie.ru/api/v2test/medicament/</string>
		<key>token</key>
		<string>95cc5d31-aca0-4206-b45f-f5480c332a93</string>
	</dict>
</dict>
</plist>
